[mysqld_safe]                                                        # Becomes sooner or later obsolete with systemd

open_files_limit               = 8192                                # You possibly have to adapt your O/S settings as well
user                           = mysql
log-error                      = <hostname>_error.log          # Adjust AppArmor configuration: /etc/apparmor.d/usr.sbin.mysqld


[mysqld]

# Connection and Thread variables
table_open_cache               = 2000  