<h1>Editing Clarification Transaction</h1>

<%= render 'form', clarification_transaction: @clarification_transaction %>

<%= link_to 'Show', @clarification_transaction %> |
<%= link_to 'Back', clarification_transactions_path %>
