<%= render "layouts/nav" %>


<div class="column is-12 ">
  <div class="box cta">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="control">
            <input class="input" type="text" placeholder="Dari Hari Ke" id="start_day_at">
          </div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="control">
            <input class="input" type="text" placeholder="Sampai Hari Ke" id="end_day_at">
          </div>
        </div>
      </div>
    </nav>
    <%= area_chart charts_decisions_chart_by_day_path %>
  </div>
</div>

<div class="column is-12 ">
  <div class="box cta">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="control">
            <input class="input" type="text" placeholder="Dari Bulan Ke" id="start_month_at">
          </div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="control">
            <input class="input" type="text" placeholder="Sampai Bulan Ke" id="end_month_at">
          </div>
        </div>
      </div>
    </nav>
    <%= area_chart charts_decisions_chart_by_month_path %>
  </div>
</div>

<script type="text/javascript">

var chartday= Chartkick.charts["chart-1"];
var chartmonth= Chartkick.charts["chart-2"];


$("#end_month_at").change(function(e){
    end_at = $(e.target).val(); 
    start_at = $("#start_month_at").val();     

      $.ajax({
        type: "GET",
        url: "/charts/decisions_chart_by_month",
        data: {
          start_at: start_at,
          end_at: end_at,
        },
        success: function (data) {
          //reload akan datanya
          //$("#chart-2").html(data);
          chartmonth.updateData(data);
          
        },
      });    
});

$("#end_day_at").change(function(e){
    end_at = $(e.target).val(); 
    start_at = $("#start_day_at").val();     

      $.ajax({
        type: "GET",
        url: "/charts/decisions_chart_by_day",
        data: {
          start_at: start_at,
          end_at: end_at,
        },
        success: function (data) {
          //reload akan datanya
          //$("#chart-2").html(data);
          chartday.updateData(data);
        },
      });    
});

</script>
