<div class="column is-2 is-hidden-mobile">
  <nav class="menu">
    <p class="menu-label">Menu</p>
    <ul class="menu-list">
      <li>
        <a href="#" class="is-active">
          <span class="icon"><i class="fa fa-home"></i></span>Home
        </a>
      </li>
      <li>
        <a href="#" class="">
          <span class="icon"><i class="fa fa-home"></i></span>Home
        </a>
      </li>
      <li>
        <a href="#" class="">
          <span class="icon"><i class="fa fa-home"></i></span>Home
        </a>
      </li>
    </ul>
  </nav>
</div>